* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eee;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px;
}
h1 {
  font-size: 2.4rem;
}
#image {
  max-width: 70%;
  display: block;
  height: auto;
  margin: auto;
}
#main {
  margin: 20px 2%;
}
#header {
  padding: 1.5%;
  font-weight: bolder;
}
#header h1 {
  font-size: 2.6rem;
}
#header p {
  padding-top: 1%;
  font-size: 1.6rem;
  font-weight: 550;
}
#img-div {
  margin: 10px auto 0;
  width: 600px;
}
#img-caption {
  font-size: 1.7rem;
  font-weight: 600;
  padding-top: 1.5rem;
  margin-bottom: 2%;
}
#tribute-info {
  letter-spacing: initial;
  font-size: 1.2rem;
}
#tribute-info h3 {
  font-size: 1.8rem;
  color: #a9a9a9;
  text-decoration: underline;
  letter-spacing: 1.5px;
}
ul {
  list-style-type: none;
  margin: auto;
  max-width: 75%;
  text-align: left;
}
li {
  font-size: 1.6rem;
  margin-top: 2.5rem;
}
li::first-letter {
  font-size: 1.7rem;
  font-weight: bold;
}
footer {
  margin: 5% auto;
}
footer h1 {
  font-size: 2.1rem;
}
#tribute-link {
  color: rgb(60, 136, 235);
}
#tribute-link:hover {
  color: rgb(235, 60, 235);
}
@media only screen and (max-width: 700px) {
  #img-div {
    width: 370px;
  }
}
@media only screen and (max-width: 460px) {
  html {
    font-size: 8px;
  }
  #img-div {
    width: 250px;
  }
}
